{% extends "layout.html" %}
{% block content %}
	<head>
		<meta charset="UTF-8">
		<title>About us</title>
	</head>

	<body>
	
	<h1>FestivalFinder<h1>
	<p style="font-size:60%;">
		We are a website that allows our users to find the most up to date information in regards to the music
		festivals in the state of Florida. Our database contains information related to the various artists that
		will be performing in the state of Florida as well as the dates and times of their performances. If you 
		wish to contact us see our information user the "contact us" tab at the top of this page. 
	</p>
	</body>

<p><br></p>
<p><br></p>
<p><br></p>
<img src="https://res.klook.com/image/upload/fl_lossy.progressive/q_auto/f_auto/c_fill/blogen/2018/08/image5-3.jpg" alt="filler text" width ="1361" height="641">
<p><br></p>
{% endblock content %}
