{% extends "layout.html" %}

{% block content %}

        <h1>Search Bands By Name</h1>
         <form class="form-inline" method="POST">
           <div class="form-group">
            <label for="query">Name &nbsp </label>
                <input type="text" class="form-control" name="query" id="query">
             </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </form>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <h1>Search For Bands by Genre</h1>
</head>
<body>
<select name=colors method="GET" action="/">
    {% for genre in genres %}
    <option value= "{{genre}}" SELECTED>{{genre}}</option>"
    {% endfor %}
</select>
</body>

<p><br><br><br><br><br></p>
<p><br><br><br><br><br></p>
        {{table}}

{% endblock content %}



