{% extends "layout.html" %}
{% block content %}

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
         <div class="sidebar-module sidebar-module-inset">
        <h1>Search Page</h1>
         <form class="form-inline" method="GET" action="search">
           <div class="form-group">
            <label for="query">Name</label>
                <input type="text" class="form-control" name="query" id="query">
             </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </form>
             </div>
             </div>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<select name=colors method="GET" action="/">
    {% for color in colors %}
    <option value= "{{color}}" SELECTED>{{color}}</option>"
    {% endfor %}
</select>

</select>
</body>



{% endblock content %}
