{% extends "layout.html" %}
{% block content %}
	<head>
		<meta charset="UTF-8">
		<title>About us</title>
	</head>

	<body>
	
	<h1>Contacts<h1>
	<p style="font-size:60%;">

	Chris Osterer:<br>
		Organization: Florida State University<br>
		Department: Computer Science<br>
		Phone: 727-916-1992<br>
		E-mail: cgo11@my.fsu.edu<br>
	<br>
	<br>

	Steven Perez:<br>
		Organization: Florida State University<br>
		Department: Computer Science<br>
                Phone: 727-123-4567<br>
                E-mail: scp14@my.fsu.ed<br>
	</p>
	</body>

<img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F08%2Flollapalooza-2018-livestream-0.jpg?fit=max&cbr=1&q=90&w=1024&h=683" alt="filler text" width ="1361" height="641">
<p><br></p>
{% endblock content %}
