{% extends "layout.html" %}

{% block content %}

        <h1>Search Festivals By Name</h1>
         <form class="form-inline" method="POST">
           <div class="form-group">
            <label for="query">Name &nbsp </label>
                <input type="text" class="form-control" name="query" id="query">
             </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </form>

	 <h1>Search Festivals By Zip Code</h1>
         <form class="form-inline" method="POST">
           <div class="form-group">
            <label for="query">Zip &nbsp</label>
                <input type="text" class="form-control" name="zipquery" id="zipquery">
             </div>
                <button type="submit" class="btn btn-primary">Search</button>
                </form>



<br>
<br>

<div class="searchtable">
        {{table}}
</div>

</body>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<img src="https://d265059lu1u7jc.cloudfront.net/site/uploads/2018/03/HeaderImageB.jpg" alt="filler text">
<p><br></p>


{% endblock content %}



